<div class="margin_header">
  <h1>Send a message</h1>
</div>
<div class="container center_div" align ='center'>
  <div align = "left">
    <%= link_to "< Back", user_url(current_user), method: :get %>
  </div>


  <form action="/messages" method="POST">

    <p>Select a Contact</p>
    <select name="id">
      <% @contacts.each do |contact| %>
          <option value="<%= contact.id %>"><%= contact.first_name + " " + contact.last_name %></option>
      <% end %>
    </select>

    <p>Send a Quote or a Joke</p>
      <select name="api_id">
          <% @source.each do |source| %>
            <option value="<%= source.id %>"><%= source.name %></option>
          <%end%>
      </select>

    <input type="submit" value="Submit">


</div>

