<div class="margin_header">
  <h1>Log In!</h1>
</div>

<div class="container center_div">

  <br>

    <%= form_for :sessions, url: login_path, :html => {:class => "form-horizontal center"} do |f| %>


      <div class="form-group">

        <%= f.label :email, "Email: ", class: "col-sm-3 col-xs-4 control-label" %>

        <div class="col-sm-8">
          <%= f.text_field :email, class: "form-control"  %>
        </div>

      </div>

      <div class="form-group">
        <%= f.label :password, "Password: ", class: "col-sm-3 control-label" %>
        <div class="col-sm-8">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>

      <br>

      <div class="row">
        <div class=" pull-right col-sm-3 hidden-xs" style="margin-right: -3%">
          <%= f.submit "Log In", class: "btn btn-default" %>
          <!--form-group pull-right col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-4-->
        </div>
      </div>

      <div class="row">
        <div class=" pull-right hidden-xl hidden-lg hidden-md hidden-sm col-sm-3 col-xs-3" style="margin-right: -1%">
          <%= f.submit "Log In", class: "btn btn-default" %>
          <!--form-group pull-right col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-4-->
        </div>
      </div>


    <% end %>

  <br>

  <div align="left">

  <p>Don't have an account?</p>

    <%= link_to 'Sign Up', new_user_path, method: :get %>
  </div>
</div>



