<div class="margin_header">
  <h1>Oh good, you're here</h1>
</div>
<div class="container center_div" align ='center'>
  <p>USER: <%= @user.first_name %> <%= @user.last_name %> </p>

  <p>EMAIL: <%= @user.email %></p>
  <% if current_user %>
    <%= link_to 'Edit User', edit_user_path(current_user), class: 'button tiny radius' %> |
    <%= link_to 'Delete User', user_path(@user), method: :delete, data: { confirm: "You sure?"}, class: 'button tiny radius'%>
  <%end %>

  <br>
  <br>

  <div class="welcome_boxes">
    <%= link_to 'Contacts', contacts_path, method: :get %>
  </div>


  <br>

  <div class="welcome_boxes">
    <%= link_to 'Messages', new_message_path, method: :get %>
  </div>

</div>


