<!DOCTYPE html>
<html>
<head>
  <title>Quoter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Font lings from google apis -->
  <!--<link href="https://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css ">-->
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Corben:bold', :media => "all" %>

  <!--<link href="https://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">-->
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Nobile, :media => "all" %>


  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>

<% if flash[:success] || flash[:danger]%>
  <div class="flash">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end %>
  </div>
<%end%>

  <%= yield %>


</body>
</html>
